apex
chardet
g2p_en
g2pM
h5py
jieba
librosa
libtmux
matplotlib
nltk
numba
numpy
packaging
pandas
parselmouth
praat_parselmouth
pycwt
pyloudnorm
pypinyin
pysptk
pytorch_memlab
pyworld
PyYAML
Resemblyzer
scikit_image
scikit_learn
scipy
setproctitle
six
skimage
syllabipy
tensorflow
TextGrid
torch
torchcrf
tqdm
webrtcvad