requirements.txtapex==0.9.10dev
chardet==4.0.0
g2p_en==2.1.0
g2pM==0.1.2.5
h5py==3.1.0
jieba==0.42.1
librosa==0.8.0
libtmux==0.11.0
matplotlib==3.3.4
nltk==3.6.2
numba==0.53.1
numpy==1.19.5
packaging==20.9
pandas==1.1.5
parselmouth==1.1.1
praat_parselmouth==0.3.3
pycwt==0.3.0a22
pyloudnorm==0.1.0
pypinyin==0.39.0
pysptk==0.1.18
pytorch_memlab==0.2.4
pyworld==0.3.0
PyYAML==6.0
Resemblyzer==0.1.1.dev0
scikit_image==0.16.2
scikit_learn==1.0.2
scipy==1.5.4
setproctitle==1.2.3
six==1.15.0
skimage==0.0
syllabipy==0.2
tensorflow==1.14.0
TextGrid==1.5
torch==1.10.0
torchcrf==1.1.0
tqdm==4.61.0
webrtcvad==2.0.10